[user]
	name = Sergey Sidorchick
[push]
	default = simple
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[diff]
	tool = vimdiff
[dofftool]
	prompt = false
[difftool]
	prompt = false
[alias]
    st = status
    co = checkout
	ci = commit
	su = submodule update
    mt = mergetool
    
